# Get your Gemini API Key here: https://makersuite.google.com/app/apikey
GEMINI_API_KEY=****

# Toggle the weather tool on or off (true/false)
TOGGLE_WEATHER_TOOL=true

# Get your Tavily API Key here: https://app.tavily.com/
TAVILY_API_KEY=****
